{% extends 'base.html.twig' %}

{% set title = 'Locations' %}

{% block main %}
    <section class="locations">
        <header>
            <div class="container">
                <h1 class="page-header text-center">
                    <a href="#locations" id="locations">{{ title }}</a>
                </h1>
            </div>

            <div class="slick-carousel-wrapper">
                <div class="slick-carousel-mask"></div>

                <div id="slick-carousel" class="slick-carousel">

                    {% for item in params.carousel %}

                        <div class="slick-carousel-inner">
                            <figure>
                                <img class="img-responsive" src="{{ BASE_URL }}assets/img/locations/carousel/{{ '%03d'|format(loop.index) }}.jpg" alt="{{ item }}">
                                <figcaption>
                                    <h3 class="h5">{{ item }}</h3>
                                </figcaption>
                            </figure>
                        </div>

                    {% endfor %}

                </div>
            </div>
        </header>

        <div class="container locations-tabs">
            <nav class="big-nav-pills">
                <ul class="nav nav-pills" role="tablist">
                    {% for location,number in params.locations %}
                        <li role="presentation" {% if loop.index == 1 %} class="active" {% endif %}>
                            <a href="#locations-pill-{{ loop.index }}" aria-controls="locations-pill-{{ loop.index }}" role="tab" data-toggle="pill">
                                {{ location }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>

        <div class="container big-container">
            <div class="tab-content">
                {% for location,number in params.locations %}
                    <article role="tabpanel" class="box-container tab-pane fade in active {% if loop.index != 1 %}remove-active{% endif %}" id="locations-pill-{{ loop.index }}">
                        <div class="container">
                            <h2 class="h3 text-center">
                                {{ location|raw }}
                            </h2>
                        </div>
                        <ul class="list-unstyled popup-gallery">
                            <div class="box-row row">

                                {% for i in 1..number %}
                                    <div class="box-column col-sm-6">
                                        <li class="box-image">
                                            <a href="{{ BASE_URL }}assets/img/locations/full/{{ location|url_encode }}/{{ '%03d'|format(loop.index) }}.jpg" class="mfp-image" target="_blank" itemscope itemtype="http://schema.org/ImageObject">
                                                <figure class="image">
                                                    <img class="img-responsive" src="{{ BASE_URL }}assets/img/locations/thumb/{{ location|url_encode }}/{{ '%03d'|format(loop.index) }}.jpg" alt="{{ location }} #{{ loop.index }}" itemprop="thumbnail"/>
                                                    <figcaption>
                                                        <h3 class="h4">{{ location }} #{{ loop.index }}</h3>
                                                    </figcaption>
                                                </figure>
                                            </a>
                                        </li>
                                    </div>

                                    {% if loop.index % 2 == 0 %}</div><div class="box-row row">{% endif %}

                                {% endfor %}

                            </div>
                        </ul>
                    </article>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
    <link href="{{ BASE_URL }}assets/css/magnific-popup.css" rel="stylesheet" type="text/css"/>
    <link href="{{ BASE_URL }}assets/css/slick.css" rel="stylesheet" type="text/css"/>
    <!--[if gte IE 9]>
        <style type="text/css">
            .slick-carousel figure figcaption {
                filter: none;
            }
        </style>
    <![endif]-->
{% endblock %}

{% block javascripts %}
    <script src="{{ BASE_URL }}assets/js/slick.min.js"></script>
    <script>
        $("#slick-carousel").slick({
            autoplay: true,
            autoplaySpeed: 3000,
            dots: true,
            arrows: false,
            infinite: true,
            slidesToShow: 1,
            slidesToScroll: 1
        });
    </script>
    <script src="{{ BASE_URL }}assets/js/bootstrap.min.js"></script>
    <script src="{{ BASE_URL }}assets/js/jquery.magnific-popup.min.js"></script>
    <script>
        $('.popup-gallery').magnificPopup({
            delegate: 'a',
            gallery: {
                enabled: true
            },
        });
    </script>
{% endblock %}

{% block postJavascripts %}
    <script> scrollToTrigger($("#locations")); </script>
{% endblock %}
