{% extends 'base.html.twig' %}

{% set title = 'Work' %}

{% block main %}
    <h1 class="text-center visuallyhidden">Film & Photo Production Company</h1>
    <p class="text-center visuallyhidden">Film and photo production services in Rio de Janeiro, Sao Paulo, and throughout Brazil. Utopia Films is the leading choice for international film and photo productions in Brazil, as well as Venezuela, USA and Caribbean.</p>

    <section class="reels box-container">
        <div class="container">
            <header class="invisible">
                <h2 class="h1 work text-center">
                    <a href="#work" id="work">{{ title }}</a>
                </h2>
            </header>
        </div>
        <article class="container big-container">

            <ul class="list-unstyled popup-gallery">
                <div class="box-row row">
                    {% for work in params %}

                        <div class="box-column col-sm-6">
                            <li class="box-image">

                            {% if work.video is defined %}

                                <a href="{{ work.video }}" class="mfp-iframe" target="_blank" itemscope itemtype="http://schema.org/Movie">
                                    <figure class="image">
                                        <img class="img-responsive" src="{{ BASE_URL }}assets/img/work/{{ work.image }}.jpg" alt="{{ work.title }}" itemprop="thumbnailUrl image"/>

                            {% else %}

                                <a href="{{ BASE_URL }}assets/img/print/full/{{ work.image }}.jpg" class="mfp-image" target="_blank" itemscope itemtype="http://schema.org/ImageObject">
                                    <figure class="image">
                                        <img class="img-responsive" src="{{ BASE_URL }}assets/img/print/thumb/{{ work.image }}.jpg" alt="{{ work.title }}" itemprop="thumbnail"/>

                            {% endif %}

                                        <figcaption>
                                            <h2 class="h4" itemprop="name">{{ work.title }}</h2>
                                            <dl class="dl-horizontal hidden-xs hidden-sm">
                                                {% for key,value in work.infos %}
                                                    <dt>{{ key }}</dt>
                                                    {% if key == 'Production' %}
                                                        <dd itemprop="productionCompany">{{ value }}</dd>
                                                    {% elseif key == 'Director' %}
                                                        <dd itemprop="director">{{ value }}</dd>
                                                    {% else %}
                                                        <dd>{{ value }}</dd>
                                                    {% endif %}
                                                {% endfor %}
                                            </dl>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                        </div>

                        {% if loop.index % 2 == 0 %}</div><div class="box-row row">{% endif %}

                    {% endfor %}
                </div>
            </ul>
        </article>
    </section>
{% endblock %}

{% block stylesheets %}
    <link href="{{ BASE_URL }}assets/css/magnific-popup.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block javascripts %}
    <script src="{{ BASE_URL }}assets/js/jquery.magnific-popup.min.js"></script>
    <script>
        $('.popup-gallery').magnificPopup({
            delegate: 'a',
            gallery: {
                enabled: true
            },
        });
    </script>
{% endblock %}

{% block postJavascripts %}
    <script>
        if(window.location.hash == "#work") {
            scrollToTrigger($("#work"));
        }
    </script>
{% endblock %}
