{% extends 'base.html.twig' %}

{% set title = 'Work' %}

{% block main %}
    <section class="container text-center visuallyhidden">
        <h1>Film and Photo Production Company</h1>
        <p>Photo and film production services in Rio de Janeiro, Sao Paulo, and throughout Brazil. We are the leading choice for international film and photo productions in Brazil, as well as Venezuela, USA and Caribbean.</p>
        <p>Utopia Films serves international producers, still photographers and ad agencies from around the world shooting in Brazil, Venezuela and throughout South and North America.</p>
    </section>

    <section class="reels box-container">
        <div class="container text-center visuallyhidden">
            <header>
                <h2>
                    <a href="#trigger-work" id="trigger-work">{{ title }}</a>
                </h2>
            </header>
        </div>
        <article class="container big-container">

            <ul class="list-unstyled popup-gallery">
                <div class="box-row row">
                    {% for work in params %}

                        <div class="box-column col-sm-6">
                            <li class="box-image">

                            {% if work.video is defined %}
                                <div itemscope itemtype="http://schema.org/Movie">
                                    <a href="{{ work.video }}" class="mfp-iframe" target="_blank" itemprop="url" title="Watch video">
                                        <div class="background-mask"></div>
                                        <figure class="image">
                                            <img class="img-responsive" src="{{ BASE_URL }}assets/img/work/{{ work.image }}.jpg" alt="Picture of video production for {{ work.title }}" itemprop="image thumbnailUrl"/>

                            {% else %}
                                <div itemscope itemtype="http://schema.org/ImageObject">
                                    <a href="{{ BASE_URL }}assets/img/print/full/{{ work.image }}.jpg" class="mfp-image" target="_blank" itemprop="contentUrl" title="View full size image">
                                        <div class="background-mask"></div>
                                        <figure class="image">
                                            <img class="img-responsive" src="{{ BASE_URL }}assets/img/print/thumb/{{ work.image }}.jpg" alt="Photo production for {{ work.title }}" itemprop="thumbnail"/>

                            {% endif %}

                                            <figcaption>
                                                <h3 class="h4" itemprop="name">{{ work.title }}</h3>
                                                <dl class="dl-horizontal visuallyhidden-xs visuallyhidden-sm">
                                                    {% for key,value in work.infos %}
                                                        <dt>{{ key }}</dt>
                                                        {% if key == 'Production' %}
                                                            <dd itemprop="productionCompany">{{ value }}</dd>
                                                        {% elseif key == 'Director' %}
                                                            <dd itemprop="director">{{ value }}</dd>
                                                        {% else %}
                                                            <dd>{{ value }}</dd>
                                                        {% endif %}
                                                    {% endfor %}
                                                </dl>
                                            </figcaption>
                                        </figure>
                                    </a>
                                </div>
                            </li>
                        </div>

                        {% if loop.index % 2 == 0 %}</div><div class="box-row row">{% endif %}

                    {% endfor %}
                </div>
            </ul>
        </article>
    </section>
{% endblock %}

{% block postJavascripts %}
    <script>
        if(window.location.hash == "#work") {
            scrollToTrigger($("#trigger-work"));
        }
        $("#work-link").on("click", function() {
            if(!window.location.hash) {
                window.location.href += "#work";
            }
            location.reload();
        });
    </script>
{% endblock %}
