<div class="menu-container menu-container-disappear visuallyhidden" id="menu-container">
    <nav class="nav-menu" id="nav-menu">
        <ul class="menu-list list-unstyled">
            {% block mainMenu %}
                <li class="menu-item menu-list-disappear"><a href="{{ INDEX_URL }}#work">Work</a></li>
                <li class="menu-item menu-list-disappear"><a href="{{ INDEX_URL }}service">Service</a></li>
                <li class="menu-item menu-list-disappear"><a href="{{ INDEX_URL }}clients">Clients</a></li>
                <li class="menu-item menu-list-disappear"><a href="{{ INDEX_URL }}directors">Directors</a></li>
                <li class="menu-item menu-list-disappear"><a href="{{ INDEX_URL }}locations">Locations</a></li>
                <li class="menu-item menu-list-disappear"><a href="{{ INDEX_URL }}contact">Contact</a></li>
            {% endblock %}
        </ul>
    </nav>
    <div id="close-trigger" class="close-trigger hidden">
        <button class="btn btn-link">
            {% include 'Header/close.svg.html.twig' %}
        </button>
    </div>
</div>
