{% set metaTitle %}
    {% if title is defined %}{{ title }} - {% endif %}Utopia Films - Brazil, Venezuela, USA, Caribbean
{% endset %}
{% set description = 'Film and Photo Production Services in Rio de Janeiro, Sao Paulo, and throughout Brazil. Utopia Films is the leading choice for international film and photo productions in Brazil, as well as Venezuela, USA and Caribbean.' %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{{ metaTitle }}</title>
        <meta name="description" content="{{ description }}"/>
        <meta name="subject" content="Film and Photo Production Services in Rio de Janeiro, Sao Paulo, and throughout Brazil.">
        <meta name="robots" content="index,follow">
        <meta name="googlebot" content="index,follow">
        {% block stylesheets %}
            <link href="{{ BASE_URL }}assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
            <link href="{{ BASE_URL }}assets/css/magnific-popup.css" rel="stylesheet" type="text/css"/>
            <link href="{{ BASE_URL }}assets/css/magnific-popup.css" rel="stylesheet" type="text/css"/>
            <link href="{{ BASE_URL }}assets/css/styles.css" rel="stylesheet" type="text/css"/>
        {% endblock %}
        <link rel="shortcut icon" href="{{ BASE_URL }}favicon.ico">
    	<link rel="icon" sizes="16x16 32x32 64x64" href="{{ BASE_URL }}favicon.ico">
    	<link rel="icon" type="image/png" sizes="196x196" href="{{ BASE_URL }}favicon-192.png">
    	<link rel="icon" type="image/png" sizes="160x160" href="{{ BASE_URL }}favicon-160.png">
    	<link rel="icon" type="image/png" sizes="96x96" href="{{ BASE_URL }}favicon-96.png">
    	<link rel="icon" type="image/png" sizes="64x64" href="{{ BASE_URL }}favicon-64.png">
    	<link rel="icon" type="image/png" sizes="32x32" href="{{ BASE_URL }}favicon-32.png">
    	<link rel="icon" type="image/png" sizes="16x16" href="{{ BASE_URL }}favicon-16.png">
    	<link rel="apple-touch-icon" href="{{ BASE_URL }}favicon-57.png">
    	<link rel="apple-touch-icon" sizes="114x114" href="{{ BASE_URL }}favicon-114.png">
    	<link rel="apple-touch-icon" sizes="72x72" href="{{ BASE_URL }}favicon-72.png">
    	<link rel="apple-touch-icon" sizes="144x144" href="{{ BASE_URL }}favicon-144.png">
    	<link rel="apple-touch-icon" sizes="60x60" href="{{ BASE_URL }}favicon-60.png">
    	<link rel="apple-touch-icon" sizes="120x120" href="{{ BASE_URL }}favicon-120.png">
    	<link rel="apple-touch-icon" sizes="76x76" href="{{ BASE_URL }}favicon-76.png">
    	<link rel="apple-touch-icon" sizes="152x152" href="{{ BASE_URL }}favicon-152.png">
    	<link rel="apple-touch-icon" sizes="180x180" href="{{ BASE_URL }}favicon-180.png">
    	<meta name="msapplication-TileColor" content="#FFFFFF">
    	<meta name="msapplication-TileImage" content="{{ BASE_URL }}favicon-144.png">
    	<meta name="msapplication-config" content="browserconfig.xml">
        <meta itemprop="name" content="{{ metaTitle }}">
        <meta itemprop="description" content="{{ description }}">
        <meta itemprop="image" content="{{ BASE_URL }}fb.png">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ metaTitle }}">
        <meta property="og:image" content="{{ BASE_URL }}fb.png">
        <meta property="og:description" content="{{ description }}">
        <meta property="og:site_name" content="Utopia Films">
    </head>
    <body class="{{ bodyClass ? bodyClass }}">
        <script src="{{ BASE_URL }}assets/js/scrollreveal.min.js"></script>
        {% block header %}
            {% include 'header.html.twig' %}
        {% endblock %}

        <div class="content" id="content">

            {% block menuTrigger %}
                {% include 'MenuTrigger/menu-trigger.html.twig' %}
            {% endblock %}

            <main class="main">
                {% block main %}{% endblock %}

                {% block contact %}
                    {% include 'Contact/contact.html.twig' %}
                {% endblock %}
            </main>

            {% block footer %}
                {% include 'footer.html.twig' %}
            {% endblock %}
        </div>

        {% block javascripts %}
            <script src="{{ BASE_URL }}assets/js/jquery.min.js"></script>
            <script src="{{ BASE_URL }}assets/js/bootstrap.min.js"></script>
            <script src="{{ BASE_URL }}assets/js/bootstrap-toolkit.min.js"></script>
            <script src="{{ BASE_URL }}assets/js/jquery.magnific-popup.min.js"></script>
            <script src="{{ BASE_URL }}assets/js/scripts.js"></script>
        {% endblock %}

    </body>
</html>
