<div class="container big-container">

    <ul class="list-unstyled popup-gallery">
        <div class="box-row row">
            {% for print in value %}

                <div class="box-column col-sm-6">
                    <li class="box-image">
                        <div itemscope itemtype="http://schema.org/ImageObject">
                            <a href="{{ BASE_URL }}assets/img/print/full/{{ print.image }}.jpg" class="mfp-image" target="_blank" itemprop="contentUrl" title="View full size image">
                                <div class="background-mask"></div>
                                <figure class="image">
                                    <img class="img-responsive" src="{{ BASE_URL }}assets/img/print/thumb/{{ print.image }}.jpg" alt="Photo production for {{ print.title }}" itemprop="thumbnail"/>

                                    <figcaption>
                                        <h3 class="h4" itemprop="name">{{ print.title }}</h3>
                                        <dl class="dl-horizontal visuallyhidden-xs visuallyhidden-sm">
                                            {% for dt,dd in print.infos %}
                                                <dt>{{ dt }}</dt>
                                                {% if dt == 'Production' %}
                                                    <dd itemprop="productionCompany">{{ dd }}</dd>
                                                {% else %}
                                                    <dd>{{ dd }}</dd>
                                                {% endif %}
                                            {% endfor %}
                                        </dl>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </li>
                </div>

                {% if loop.index % 2 == 0 %}</div><div class="box-row row">{% endif %}

            {% endfor %}
        </div>
    </ul>
</div>
