<div class="container big-container">

    <ul class="list-unstyled popup-gallery">
        <div class="box-row row">
            {% for print in value %}

                <div class="box-column col-sm-6">
                    <li class="box-image">
                        <a class="mfp-image" href="{{ BASE_URL }}assets/img/print/full/{{ print.image }}.jpg" target="_blank" itemscope itemtype="http://schema.org/ImageObject">
                            <figure class="image">
                                <img class="img-responsive" src="{{ BASE_URL }}assets/img/print/thumb/{{ print.image }}.jpg" alt="{{ work.title }}" itemprop="thumbnail"/>

                                <figcaption>
                                    <h3 class="h4" itemprop="name">{{ print.title }}</h3>
                                    <dl class="dl-horizontal hidden-xs hidden-sm">
                                        {% for dt,dd in print.infos %}
                                            <dt>{{ dt }}</dt>
                                            {% if dt == 'Production' %}
                                                <dd itemprop="productionCompany">{{ dd }}</dd>
                                            {% else %}
                                                <dd>{{ dd }}</dd>
                                            {% endif %}
                                        {% endfor %}
                                    </dl>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                </div>

                {% if loop.index % 2 == 0 %}</div><div class="box-row row">{% endif %}

            {% endfor %}
        </div>
    </ul>
</div>
