<div class="container feature-films">
    {% for title,values in value %}

        <div class="text-left" itemscope itemtype="http://schema.org/Movie">
            <img class="visuallyhidden" src="{{ BASE_URL }}favicon-310.png" itemprop="image"/>
            <div class="row">
                <div class="col-sm-3 text-center w-border-r">
                    <h3 class="h4 dt-box" itemprop="name">{{ title }}</h3>
                </div>
                <div class="col-sm-8 col-md-push-1">
                    <dl>
                        <div class="row">
                            {% for dt,dd in values %}
                                <div class="col-sm-4 dt-box">
                                    <dt>{{ dt }}</dt>
                                    {% if dt == 'Director' %}
                                        <dd itemprop="director">{{ dd }}</dd><br/>
                                    {% elseif dt == 'Production Company' %}
                                        <dd itemprop="productionCompany">{{ dd }}</dd><br/>
                                    {% elseif dt == 'Line Producer' %}
                                        <dd itemprop="producer">{{ dd }}</dd><br/>
                                    {% else %}
                                        <dd>{{ dd }}</dd><br/>
                                    {% endif %}
                                </div>
                                {% if loop.index % 3 == 0 %}
                                    </div>
                                    <hr class="invisible"/>
                                    <div class="row">
                                {% endif %}
                            {% endfor %}
                        </div>
                    </dl>
                </div>
            </div>
        </div>

    {% endfor %}
</div>
