{% extends 'base.html.twig' %}

{% set title = 'Service' %}

{% block main %}
    <section class="service">
        <div class="container">
            <header>
                <h1 class="page-header text-center">
                    <a href="#service" id="service">{{ title }}</a>
                </h1>
            </header>
            <div class="row">
                <div class="col-sm-4">
                    {% for service in params %}

                        <article class="ps-article">
                            <h2 class="h4">
                                {{ service.title }}
                            </h2>
                            <div class="service-{{ loop.index }}">
                                {{ service.message|raw }}
                            </div>
                        </article>

                        {% if loop.index == 4 or loop.index == 7 %}</div><div class="col-sm-4">{% endif %}

                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script> scrollToTrigger( $("#service") ); </script>
{% endblock %}
