<section class="contact">
    {% if title == 'Contact' %}
        {% set contactPage = true %}
        <header>
            <h1 class="text-center" id="contact">
                Contact
            </h1>
        </header>
    {% else %}
        {% set contactPage = false %}
        <hr class="invisible"/>
        <header class="visuallyhidden">
            <h4 class="h1 text-center">Contact</h4>
        </header>
    {% endif %}
    <div class="body-contact" itemscope itemtype="http://schema.org/LocalBusiness">
        <div class="container">
            <span class="visuallyhidden" itemprop="name">Utopia Films</span>
            <img src="{{ BASE_URL }}favicon-310.png" alt="Utopia Films' Logo" class="visuallyhidden" itemprop="image"/>
            <div class="row">
                {% for title,infos in contact %}
                    <div class="col-sm-4">
                        <article class="contact-box">
                            {% if contactPage == true %}
                                <h2 class="h4 page-header">{{ title }}</h2>
                            {% else %}
                                <h5 class="h4 page-header">{{ title }}</h5>
                            {% endif %}

                            {% if title == 'Brazil' or title == 'Venezuela' or title == 'USA' %}

                                <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                    {% for city,address in infos %}
                                        <strong class="city">
                                            {{ city|raw }}
                                        </strong>
                                        {% if city == 'Los Angeles' %}
                                            <small class="text-muted">(mail only)</small>
                                        {% endif %}
                                        <br/>
                                        {% for detail in address %}
                                            {{ detail|raw }}
                                            {% if not loop.last %}
                                                <br/>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </address>

                            {% else %}

                                <dl>
                                    <div class="row">
                                        {% for key,value in infos %}
                                            <div class="col-md-6">
                                                <dt>{{ key|raw }}</dt>
                                            </div>
                                            <div class="col-md-6">
                                                {% for detail in value %}
                                                    <dd>
                                                        {% if title == 'Mobiles' %}
                                                            <a title="Phone call to {{ detail }}" class="email-link" href="tel:{{ detail }}" itemprop="telephone">{{ detail }}</a>
                                                        {% elseif title == 'Email' %}
                                                            <a title="Send email to {{ detail }}" class="email-link" href="mailto:{{ detail }}"><span itemprop="email">{{ detail|raw }}</span></a>
                                                        {% else %}
                                                            {{ detail|raw }}
                                                        {% endif %}
                                                    </dd>
                                                    {% if loop.last %}
                                                        <br class="hidden-lg hidden-md"/>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>

                                            {% if loop.index % 2 == 0 %}</div><div class="row">{% endif %}

                                        {% endfor %}
                                    </div>
                                </dl>

                            {% endif %}
                        </article>
                    </div>

                    {% if loop.index % 3 == 0 %}</div><div class="row">{% endif %}

                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% if title == 'Contact' %}
    <hr class="invisible"/>
{% endif %}
